{% extends "mainbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}CTFManagement{% endblock %}

{% block page_content %}
{% if error %}
<h1>{{error}}</h1>
{% endif %}
<li><a href="/add_que">添加题目</a></li>
<li><a href="/edit_que">修改题目</a></li>
<br/>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题目列表</h1>
<ul>
    <ul>
        <ul>
			<table width="800" height="40" border="1">
			  <tr>
				<td width="200">题目ID&nbsp;</td>
				<td width="200">content&nbsp;</td>
				<td width="200">操作&nbsp;</td>
			  </tr>
			</table>	
			{% for que in all_ques %}
				<table width="800" height="40" border="1">
				  <tr>
					<td width="200">{{que.id}}&nbsp;</td>
					<td width="200">{{que.content}}&nbsp;</td>
					<td width="200"><a href="/del_que/{{que.id}}">删除该题</a>&nbsp;</td>
				  </tr>
				</table>
			{% endfor %}
        </ul>
    </ul>
</ul>
<br/>
{{ wtf.quick_form(form) }}
{% endblock %}